:host, * {
  transition: all 0.5s;
}

@mixin container($horizontal) {
  $axis1: if($horizontal, height, width);
  $axis2: if($horizontal, width, height);
  $direction: if($horizontal, row, column);
  $translate: if($horizontal, translateX, translateY);

  flex-direction: #{$direction};
  #{$axis1}: 100%;
  #{$axis2}: 200%;

  &:hover {
    transform: #{$translate}(-50%);
  }

  fa-icon, .text {
    #{$axis2}: 50%;
  }
}


.tile {
  overflow: hidden;
  height: 14rem;
  flex-basis: 14rem;

  fa-icon {
    font-size: 5.7rem;
  }

  .slide-container {
    transition: all 0.4s;

    &:not(.horizontal) {
      @include container(false);
    }

    &.horizontal {
      @include container(true);
    }
  }
}

#switcher {
  width: 2.5rem;
  height: 2.5rem;
}

nav {
  top: 0;
}
