:host, * {
  transition: all 0.5s;
}

@mixin container($horizontal) {
  $axis1: width;
  $axis2: height;
  $direction: column;
  $translate: translateY;
  @if $horizontal {
    $axis1: height;
    $axis2: width;
    $direction: row;
    $translate: translateX;
  }
  flex-direction: #{$direction};
  #{$axis1}: 100%;
  #{$axis2}: 200%;

  &:hover {
    transform: #{$translate}(-50%);
  }

  fa-icon, .text {
    #{$axis2}: 50%;
  }
}


.tile {
  overflow: hidden;
  height: 14rem;
  flex-basis: 14rem;

  fa-icon {
    font-size: 5.7rem;
  }

  > div {
    transition: all 0.4s;

    &:not(.horizontal) {
      @include container(false);
    }

    &.horizontal {
      @include container(true);
    }
  }
}
